<div class="container" style="border: 1px solid black;">
  <form (submit)="onSubmit(name.value, surname.value); false;">
    <div class="form-group">
      <label for="name">Name</label>
      <input #name type="text" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label for="surname">Surname</label>
      <input #surname type="text" class="form-control" id="surname" required>
    </div>

    <button class="button" type="submit">Submit</button>
  </form>
</div>
